//Fonts
//Cabin, Didot, Montserrat

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-pic{
  border-radius: 10px;
  height: 20vh;
}

.App-link {
  color: #61dafb;
}

.social-media{
  max-height: 20px;
}

.menu-item{
  border: none;
}

.app-top-bar{
  height: 20px;
  background-color: #666666;
}
.app-bot-bar{
  min-height: 50px;
  font-size: .85rem;
  color:black;
  background-color: #666666;
}

.app-bot-bar > p{
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top:2px;
}


.profile-pic{
  min-height: 230px;
  height: 15vw;
  max-height: 250px;
  margin-left: 100px
}


.profile-pic-column{
  display: flex;
  align-items: center;
}

.sidenav{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.body{
  min-height: 800px;
}

.custom-nav{
  padding-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
  word-wrap: normal;
  background-color: gray;
  background: linear-gradient(to right, rgba(121,121,121,0) 0%, rgba(121,121,121,.5) 10%, rgba(121,121,121,.5) 90%, rgba(121,121,121,0) 100%)
}
.custom-nav > .navbar{
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav-item.nav-link{
  font-weight:bold;
  font-size: 1em;
  opacity: 1;
  color:black;
}


.list-group-item:active{
  border: none;
  outline: none;
  border-color: white;
  background-color: white;
  font-style: bold;
}
.list-group-item:focus{
  border: none;
  outline: none;
  background-color: white;
  border-color: white;
  color: black;
}
.list-group-item:hover{
  background-color: white;
}


.faded-border {
  //padding: 30px;
  border: 1.5px solid;
  border-top: 0;
  border-bottom: 0;
  border-left:0;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}

.projects-nav{
  padding-right: 50px;
  height: 40vh;
}

.projects-nav > .nav-item > .nav-link{
  color: #6d8ea5;
}

span > img {
  border-radius:10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.faded-border {
  //padding: 30px;
  border: 1.5px solid;
  border-top: 0;
  border-bottom: 0;
  border-left:0;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}


.about-header{
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.about-row{
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 22vh;
  background-size: cover;
}
.programming-row{
  background-image: url("http://chriswevans.com/pics/compressed/DESK2-min.JPG");
  background-position: 50% 45%;
  color: #cccccc;
}
.painting-row{
  background-image: url("http://chriswevans.com/pics/compressed/PAINTING-min.JPG");
  background-position: 0% 55%;
  color: #cccccc;
}
.bowling-row{
  background-image: url("http://chriswevans.com/pics/BOWLING.JPG");
  background-position: 50% 20%;
  color: #cccccc;
}
.keyboard-row{
  background-image: url("http://chriswevans.com/pics/compressed/SACHALK_tilt-min.JPG");
  background-position: 50% 50%;
  color: #cccccc;
}
.bottom-row{
  margin-bottom:20px;
}


pre{
  border-radius:5px;
  background-color: #ededed;
  text-align: left;
}
code{
  border-radius:5px;
  padding-left: 3px;
  padding-right: 3px;
  color: black;
  background-color: #ededed;
  font-family: "Courier New", Courier, monospace;
}

.masthead{
  padding-top:30px;
  padding-bottom:20px;
  background-image: url("http://chriswevans.com/pics/BACKGROUND_CAPE.JPG");
  background-position: 60% 35%;
  background-size: cover;
  /* background-color: #666666 */
}

@media (max-width: 500px) {
  .name-head{
    font-size: 1.5em;
    display:block;
  }
  .profile-pic{
    width:0px;
    height:0px;
  }
  .profile-pic-column{
    width:0px;
    height:0px;
  }
  .navbar-nav{
    flex-direction: row;
  }
  .nav-link{
    margin-right: 10px;
  }
  .App{
    overflow-x: hidden;
  }
  .projects-nav{
    flex-direction: row;
    height: inherit;
    margin-top: 10px;
  }
  .faded-border {
    //padding: 30px;
    border: 1.5px solid;
    border-top: 0;
    border-right: 0;
    border-left:0;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    padding-bottom: 5px;
  }
  .nav-link{
    display: inline;
  }

  .markup-pane{
    word-wrap: break-word;
  }

  .jumbotron{
    margin-bottom: 0px;
    border-radius: 0px;
  }

  .row{
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
